/*
Master Stylesheet
==================================
Tamplate Name:Anso
Author:samafe islam tonnyma
Author Url:http//samafe.com
description: PSD to HTML Prectise
tag:Blog
*/
/*
      Contents
      ==============
      1.typrography
      2.heading
      3.banner
      4. newsletter
      5.Button
      6.service
      7.highlights
      8.programme 
      9.
      
*/
/*font-family: 'Montserrat', sans-serif;*/
/*ont-family: 'Poppins', sans-serif;*/
/*==========================
     TRYPOGRAPHY
     =========================
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Poppins:wght@400;500;700;900&display=swap');
*{
box-sizing: border-box;
}
body{
margin: 0;
padding: 0;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
font-size: 16px;
color: #898989;

}
h1,h2,h3,h4,h5,h6{
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
  margin: 0;
  color: #010101;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #5ebb46;
  font-size: 30px;
  text-transform: uppercase;
}

p{
  margin: 0;
}
/*==========================
        Header
     =========================
*/
header{
  background-color: #ffffff;

}
.container{
  width: 80%;
  margin: 0 auto;
  padding: 0;

}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}
.logo{
  width: 20%;
}
.menu{
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul{
  text-align: right;
  
}
.navbar ul li{
  margin: 0;
  padding: 0;
  display: inline-block;
  
}
.navbar ul li:first-child a{
  color: #5ebb46;
  padding-left: 0;
}
.navbar ul li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #010101;
  text-transform: capitalize;
  padding: 0 15px;
}
.navbar ul li a:hover{
 color: #5ebb46;
    
}
.navbar ul li:last-child a{
  padding-left:0;
}
.navbar ul li:first-child a:hover{
  color: #010101;
}
 .log button {
  font-size: 16px;
  font-weight: 700;
  height: 38px;
  width: 118px;
  border-radius:5px;
  background-color:#ffffff; 
  border: 1px solid #949494;
  color: #010101; 
  cursor: pointer;
  outline: none;
  
 }
 .log button:hover{
     color:#ffff;
     background:#5ebb46;
     transition: .3s all ease-in-out;
 }
 
  
 ul li:last-child button{ 
 margin-left: 25px;
 background-color:#5ebb46;
 padding-right:0; 
}
ul li:last-child button:hover{
  color:#5ebb46;
  background: #fff; 
  border: 1px solid #5ebb46;
}
  

.main{
  width: 80%;
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}

  .pay{
    align-items: center;
  font-family: 'Poppins', sans-serif;
   font-weight:550 ;
   font-size: 11px;
   line-height: 25px;
   display: flex;
   justify-content: space-between;
}
 input[ type=email]{
  height: 50px;
  border-color: #5ebb46;
  border: 1px solid #5ebb46; 
  border-radius: 5px;
  padding: 0 20px;
}
 input[ type=email]:focus{
  outline: none;
}
.naa{
  background: #f7f7f7;
}
.sidebar{
   width: 49%;
  height: 400px;
   padding: 20px 0;
   background-color: #ffffff;
   box-shadow: 5px 5px 5px darkgrey;
}

.maas{
  padding: 20px ;
}
 .checkboxcontainer input{
  display: none;
}
.checkboxcontainer{ 
  display: inline-block;
  padding-left: 18px;
  position: relative;
 cursor: pointer;
 font-family: 'Poppins', sans-serif;
 font-weight: 100;
 font-size: 14px;
 }
 .checkboxcontainer .chekmark{
  display: inline-block;
  height: 20px;
  width: 23px;
  left: 0;
  top: 0;
  border-radius: 3px;
  
 }
 .checkboxcontainer input:checked + .chekmark{
  background-color: #5ebb46;
 }
 .checkboxcontainer:hover .chekmark{
  background-color:#5ebb46;
 }
 .checkboxcontainer input:checked + .chekmark:after{
  content: "";
  position: absolute;
  height: 9px;
  width:20px;
  border-left: 2px solid white;
  border-bottom:  2px solid white;
 top: 20%;
  left: 7%;
  transform:translate(-50%,-50%)rotate(-50deg);
 }
 .saas{
  height: 200px;
   padding:0 20px; 
}
 .map{
  height: 180px;
  background:#eeeeee;
  width: 100%;
  padding: 20px 10px;
 }
 .ves{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 8px;
  color: #3c3c3c;
  line-height: 13px;
 }
 .ree{
  text-align: center;

}
.ree button{
   font-size: 16px;
  font-weight: 700;
  height: 38px;
  width: 118px;
  border-radius:5px;
  background-color:#5ebb45; 
  border: 1px solid #5ebb46;
  color: #010101; 
  cursor: pointer;
  outline: none;
  height: 50px;
  width: 200px;
}
.ree button:hover{
  background-color:#ffff; 
  border: 1px solid #949494;
  color: #5ebb46; 
  transition: .3s all ease-in-out;
}
.laa{
  margin: 0 auto;
  padding:50px 0;
} 

.button-part ul {
  padding:30px 0;  
}
 .button-part ul li{
  display: inline-block;
 }
 .button-part button {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color:#ffffff; 
  border: 1px solid #949494;
  color: #010101;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  height: 45px;
  width:180px;
 }
 .button-part button:hover{
      color:#ffff;
     background:#5ebb46;
     border: 1px solid#5ebb46;
     transition: .3s all ease-in-out;
 }
 .button-part:last-child button:hover{
   color:#5ebb46;
  background: #fff; 
 }
.bodya{
   width: 49%;
  height: 400px;
   padding: 20px 20px;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px darkgrey;
}
.mew{
  font-size: 12px;
  line-height: 20px;
      padding: 15px 10px;

}

.banner-part{
  background-color: #f6f6f6;
  padding: 30px 0;
}
.banner{
  width: 80%;
  margin: 0 auto;
   
}
.button-part ul li{
  margin: 0;
  padding: 0;
  display: inline-block;
  
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #010101;
  font-size: 30px;
  text-transform: uppercase;
}
.service{
  width: 80%;
  margin: 0 auto;
  padding-top: 60px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.services1{
  width: 91%;
  
  margin: 0 auto;
  padding-bottom: 40px;
  border-bottom: 1px solid #ffff;

}

.highlight{
  padding: 100px 200px;
  width: 80%;
  margin: 0 auto;

}
.high{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
}
.programs{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.program{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
}
section{
  width: 80%;
  margin: 0 auto;
}
.newsletter{
  width: 90%;
  height: 440px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.newslette{
  width: 90%;
  height: 300px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.second{
  width: 80%;
  margin: 0 auto;
}
.second-part{
  background-color: #f6f6f6;
}
 .second{
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.content{
  width: 65%;
  padding-top: 50px;
}
.news-content{
  padding: 20px 0;
      line-height: 30px;
      
}

.text{
  padding: 30px 0;
      line-height: 30px;
      word-break: break-all;
}
.layer{
  align-items: center;
  padding-left: 150px;
  
}
.Footer{
  background-color: #5ebb46;
}
.ADDRESS{
  width: 80%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
padding: 50px 0;
}
.detail ul li a{
  text-decoration: none;
  font-size: 16px;
   font-family: 'Poppins', sans-serif;
   font-weight: 500;
   color: #fff;
   cursor: pointer;
}
.detail ul li{
  display: inline-block;
}
.detail ul li a:hover{
  color: #010101;
  transition: .3s all ease-in-out;
}
.details{
  font-size: 18px;
   font-family: 'Poppins', sans-serif;
   font-weight: 500;
    line-height: 23px;
      color: #f6f6f6;
      padding: 15px;
      cursor: pointer;
}
.details:hover{
  color: #010101;
   transition: .3s all ease-in-out;
}
.socialp{
  display: flex;
  justify-content: space-between;
}
.socialp p{
  padding-top: 14px;
  font-size: 18px;
   font-family: 'Poppins', sans-serif;
   font-weight: 500;
   color: #fff;
}
.socialp p:hover{
  color: #010101;
  cursor: pointer;
   transition: .3s all ease-in-out;
}
.social ul li{
  display: inline-block;
}
.social ul li a{
  text-decoration: none;
  padding: 15px;
  color: #fff;
   background-color: rgba(255, 255, 255, .4);
   width: 50px;
   height: 50px;
   border-radius: 50%;
   text-align:center;
}
.social ul li i a{
  font-size: 12px;
}
.social ul li a:hover{
  color:#5ebb46;
  background-color:#010101; 
 
  transition: .3s all ease-in-out;
   }
.social ul li:last-child a{
  padding-right: 15px;
}
.last-part{
  background-color: #010101;
  padding: 30px 0;
}
.last{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}